@use 'utils' as *;

:root {
    margin: 0 rem(20);
}

.app {
    max-width: rem(420);
    margin: rem(80) auto;
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: rem(16);
    line-height: 175%;
    background-color: rgb(var(--bg));
    color: rgb(var(--fg));
    text-wrap: pretty;

    &--red {
      --bg: 248, 223, 234;
      --fg: 180, 0, 0;
    }

    &--orange {
      --bg: 255, 247, 242;
      --fg: 200, 70, 0;
    }

    &--yellow {
      --bg: 255, 252, 222;
      --fg: 125, 117, 0;
    }

    &--green {
      --bg: 223, 248, 226;
      --fg: 0, 102, 14;
    }

    &--blue {
      --bg: 223, 239, 248;
      --fg: 0, 102, 100;
    }

    &--purple {
      --bg: 231, 218, 251;
      --fg: 63, 0, 115;
    }

    &--pink {
      --bg: 255, 231, 253;
      --fg: 208, 0, 125;
    }
}

a {
    color: rgb(var(--fg));
    text-decoration: none;
    box-shadow: 0 rem(1) 0 0 rgb(var(--fg));

    &:hover {
        background: rgb(var(--fg));
        color: rgb(var(--bg));
    }
}

hr {
    width: 100%;
    height: rem(1);
    margin: rem(24) 0;
    border: none;
    background: linear-gradient(to right, transparent 50%, rgb(var(--fg)) 50%);
    background-size: rem(8) rem(2);
}
