@use 'utils' as *;

.app {
    max-width: rem(420);
    margin: rem(80) auto;
    font-family: 'Times New Roman', Times, serif;
    line-height: 200%;
    background-color: rgb(var(--bg));
    color: rgb(var(--fg));
    text-wrap: pretty;

    &--red {
      --bg: 248, 223, 234;
      --fg: 180, 0, 0;
    }

    &--orange {
      --bg: 255, 247, 242;
      --fg: 200, 70, 0;
    }

    &--yellow {
      --bg: 255, 252, 222;
      --fg: 125, 117, 0;
    }

    &--green {
      --bg: 223, 248, 226;
      --fg: 0, 102, 14;
    }

    &--blue {
      --bg: 223, 239, 248;
      --fg: 0, 102, 100;
    }

    &--purple {
      --bg: 231, 218, 251;
      --fg: 63, 0, 115;
    }

    &--pink {
      --bg: 255, 231, 253;
      --fg: 208, 0, 125;
    }
}
