@use "../utils" as *;

.note {
    max-width: 80ch;
    padding: .5rem .5rem 5rem;
    font-family: var(--font-mono);
    font-size: .8125rem;
    line-height: 130%;
    text-wrap: pretty;

    &__edit {
        width: 100%;
        margin-top: 1rem;
        padding: 0;
        border: none;
        resize: none;
        font-family: var(--font-mono);
        line-height: 130%;
        field-sizing: content;
        font-size: .8125rem;
        background: transparent;

        &:focus-visible {
            outline: none;
        }

        &__error {
            color: red;
        }
    }

    &__zoom {
        background: none;
        padding: 0;
        margin: 0;
        border: none;
        cursor: zoom-in;
    }

    &__dialog {
        width: max-content;
        height: max-content;
        padding: 0;
        background: none;
        border: none;

        &::backdrop {
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(rem(3));
        }
    }

    &__full {
        max-width: 90dvw;
        max-height: 90dvh;
        margin-top: 0;
    }

    &__close {
        position: fixed;
        top: rem(8);
        right: rem(8);
        color: white;
        font-size: rem(24);
        background: none;
        border: none;
        width: rem(32);
        height: rem(32);
        cursor: pointer;
    }
}
