@use "../utils" as *;

.backdrop {
    position: fixed;
    min-height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    animation: day-progress-back 86400s linear infinite;
    animation-delay: var(--offset);

    &__window {
        position: absolute;
        width: rem(900);
        height: rem(723);
        transform: rotate(-5deg);
        filter: blur(rem(10));
        z-index: -1;

        &--right {
            right: rem(-105);
            top: 5vh;
            animation: window-color-shadow 86400s linear infinite;
            animation-delay: var(--offset);
        }

        &--left {
            right: rem(822);
            top: calc(5vh + rem(85));
            animation: window-color-shadow 86400s linear infinite;
            animation-delay: var(--offset);
        }
    }

    &__leaves {
        position: absolute;
        inset: 0;
        pointer-events: none;
        filter: blur(rem(15));
    }

    &__leaf {
        position: absolute;
        width: rem(80);
        height: rem(80);
        border-radius: 0 rem(70);
        transform: rotate(var(--r));
        animation:
            leaf-sway var(--sway-duration) ease-in-out infinite alternate,
            day-progress-back 86400s linear infinite;
        animation-delay: var(--sway-delay), var(--offset);
    }
}
