@use "../utils" as *;

.context-menu {
    width: rem(128);
    padding: rem(7) rem(5);
    background: #e6e7e4;
    border: rem(0.5) solid #c3c3c3;
    border-radius: rem(8);
    box-shadow: 0 rem(6) rem(16) 0 rgba(0, 0, 0, 20%);

    &__content {
        display: block;
        padding: rem(5) rem(9);
        text-decoration: none;
        line-height: 100%;
        font-size: rem(13);
        font-weight: 400;
        color: #aaaba9;
        border-radius: rem(6);

        &:not(.context-menu__item--disabled &) {
            color: #232323;

            &:hover {
                background: #59A2FF;
                color: #FFF;
            }
        }
    }

    &__separator {
        height: rem(1);
        margin: rem(5) rem(9);
        background: #cecfcc;
    }
}
