@use "../utils" as *;

.crumbs {
    display: flex;

    &__crumb {
        text-decoration: none;

        &:first-child {
            order: 9999;
        }

        + .crumbs__crumb {
            &:after {
                content: "/";
                margin: 0 rem(4);
            }
        }
    }

    &__text {
        text-decoration: underline;
        transition: opacity 100ms ease-out;

        &:hover {
            opacity: 0.5;
        }
    }
}
