@use "../utils" as *;

.editor {
    width: 100%;
    margin-top: rem(64);
    padding: 0;
    border: none;
    resize: none;
    font-family: menlo;
    line-height: 175%;
    field-sizing: content;
    font-size: rem(13);
    background: transparent;
    animation: day-progress-front 86400s steps(1, end) infinite;
    animation-delay: var(--offset);
    display: none;

    &:focus {
        outline: none;
    }
}
