@use "../utils" as *;

.form {
    margin-top: rem(64);
    display: flex;
    flex-direction: column;
    gap: rem(24);

    &__error {
        color: red;
    }

    &__title {
        text-align: center;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: rem(8);

        &--checkbox {
            flex-direction: row;
            align-items: center;
        }
    }

    &__label {
        &--checkbox {
            padding-left: rem(24);
        }
    }

    &__input {
        padding: rem(10) rem(16);
        margin: 0;
        line-height: 100%;
        border-radius: rem(8);
        border: 1px solid color-mix(in hsl, currentColor 20%, currentColor 20%);
        background: none;
        animation: day-progress-front 86400s steps(1, end) infinite;
        animation-delay: var(--offset);
        outline: none;
        transition:
            border 100ms ease-out,
            box-shadow 100ms ease-out;

        &:hover {
            border: 1px solid
                color-mix(in hsl, currentColor 33%, currentColor 33%);
        }

        &:focus-visible {
            border: 1px solid
                color-mix(in hsl, currentColor 33%, currentColor 33%);
            box-shadow: 0 0 0 2px
                color-mix(in hsl, currentColor 20%, currentColor 20%);
        }

        &--checkbox {
            position: absolute;
            order: -1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(16);
            height: rem(16);
            padding: 0;
            -webkit-appearance: none;
            appearance: none;
            border-radius: rem(4);
            border: 1px solid
                color-mix(in hsl, currentColor 20%, currentColor 20%);

            &:checked {
                &:before {
                    content: "✔︎";
                    position: absolute;
                    font-size: rem(10);
                }
            }
        }
    }

    &__button {
        padding: rem(10) rem(16);
        line-height: 100%;
        background: color-mix(in hsl, currentColor 5%, currentColor 5%);
        border: none;
        cursor: pointer;
        border-radius: rem(8);
        transition:
            background 100ms ease-out,
            transform 100ms ease-out;

        &:hover {
            background: color-mix(in hsl, currentColor 5%, currentColor 10%);
        }

        &:active {
            transform: scale(0.95);
        }

        &:focus-visible {
            outline: none;
            border-radius: rem(6);
            transform: scale(1);
            box-shadow: 0 0 0 2px
                color-mix(in hsl, currentColor 20%, currentColor 20%);
        }
    }
}
