@use "../utils" as *;
@use "../colors";

.intro {
    margin-top: rem(40);

    @media screen and (min-width: rem(640)) {
        margin-top: rem(80);
    }

    @media screen and (min-width: rem(920)) {
        margin-top: rem(120);
    }
}
