@use "../utils" as *;

.nav {
    margin-top: rem(80);
    margin-bottom: rem(120);

    &__items {
        display: flex;
        gap: rem(16);
        flex-wrap: wrap;
    }

    &__link {
        display: inline-block;
        font-size: rem(16);

        .nav__item--active {
            text-decoration: underline;
        }
    }
}
