@use "../utils" as *;
@use "../colors";

.nav {
    position: relative;

    &__items {
        display: flex;
        flex-wrap: wrap;
        max-width: rem(400);
    }

    &__item {
        display: inline;
    }

    &__link {
        display: block;
        padding: rem(8) rem(16);
        line-height: 150%;
        text-decoration: none;
        color: colors.$neutral-800;
        border-radius: rem(9999);
        transition: background 150ms ease-out;

        &:hover,
        .nav__item--active & {
            background: colors.$neutral-100;
        }
    }

    &__highlighter {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        border-radius: rem(9999);
        background: colors.$neutral-100;
        transition:
            150ms transform ease-out,
            height 150ms ease-out,
            width 150ms ease-out;
        pointer-events: none;
    }
}
