@use "../utils" as *;

.pages {
    margin-top: rem(64);
    display: flex;
    flex-direction: column;

    &__page {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(12) rem(16);
        margin: 0 rem(-16);

        &:hover,
        &:focus-within {
            &:before {
                opacity: 1;
                transform: scale(1);
                transition:
                    opacity 50ms ease-out,
                    transform 200ms ease-out;
            }
        }

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0;
            border-radius: rem(12);
            background: color-mix(in hsl, currentColor 5%, currentColor 10%);
            z-index: 0;
            filter: brightness(98%);
            transform: scale(0.95);
            transition:
                opacity 250ms ease-out,
                transform 100ms ease-out;
        }
    }

    &__title {
        text-decoration: none;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
        }
    }
}
