@use "../utils" as *;

.pages {
    margin-top: rem(64);
    display: flex;
    flex-direction: column;

    &__page {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(12) rem(16);
        margin: 0 rem(-16);

        &:hover,
        &:focus-within {
            &:before {
                opacity: 1;
            }
        }

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0;
            border-radius: rem(12);
            animation: day-progress-back 86400s linear infinite;
            animation-delay: var(--offset);
            z-index: 0;
            transition: opacity 100ms ease-out;
            filter: brightness(98%);
        }
    }

    &__title {
        text-decoration: none;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
        }
    }
}
