.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    height: .875rem;

    a {
        color: rgb(var(--grey-950));
        text-decoration: none;
    }
}

.nav__contact {
    font-family: var(--serif);
    font-size: 1.25rem;
}

.nav__link {
    display: grid;
    color: rgb(var(--grey-950));
    text-decoration: none;

    &:hover {
        &:after {
            width: 100%;
        }
    }

    &:after {
        content: "";
        display: inline-block;
        height: 0.0588235294rem;
        width: 0;
        background: rgb(var(--grey-950));
        border-radius: 9999px;
        transition: 150ms width ease-out;
    }
}
