.wysiwyg {
    max-width: 65ch;
    min-width: 0;

    & > * {
        & + p,
        & + img,
        & + table,
        & + ul,
        & + ol,
        & + blockquote,
        & + div {
            margin: 1.75rem 0 1.25rem;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
        color: rgb(var(--grey-950));
        scroll-margin-top: 5rem;

        code {
            font-size: inherit;
        }
    }

    h1 {
        font-size: 2rem;
        line-height: 120%;
        margin: 4rem 0 2rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 130%;
        margin: 3rem 0 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
        line-height: 140%;
        margin: 2.5rem 0 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
        line-height: 150%;
        margin: 2.25rem 0 1.125rem;
    }

    h5,
    h6 {
        font-size: 1rem;
        line-height: 150%;
        margin: 2rem 0 1rem;
    }

    h6 {
        color: rgb(var(--grey-700));
    }

    p,
    li {
        color: rgb(var(--grey-900));
        font-size: 1rem;
        line-height: 175%;
    }

    a {
        display: inline-grid;
        color: rgb(var(--grey-900));
        text-decoration: none;
        line-height: 120%;
        transition: 150ms color ease-out;

        &:after {
            content: "";
            display: inline-block;
            width: 101%;
            height: 0.0588235294rem;
            background: rgb(var(--grey-900));
            border-radius: 9999px;
            transition: 150ms background ease-out;
        }

        &:hover {
            color: rgb(var(--grey-700));

            &:after {
                background: rgb(var(--grey-600));
            }
        }
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    ul,
    ol {
        padding-left: 1.25rem;

        li {
            padding: 0 0 0 0.25rem;
            position: relative;
            margin: .5rem 0;
        }
    }

    ol {
        list-style-type: decimal;

        ul {
            list-style-type: disc;
        }
    }

    ul {
        list-style-type: disc;
    }

    blockquote {
        text-align: left;
        line-height: 120%;
        margin-left: 2rem;

        footer {
            margin-top: 1rem;
            font-size: .75rem;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    pre {
        padding: 2rem;
        border-radius: .5rem;
        overflow-x: scroll;
        font-family: monospace;
        border: 1px solid rgb(var(--grey-200));
    }

    :where(*:not(pre) > code) {
        padding: .2rem .4rem;
        border-radius: .25rem;
        background: rgb(var(--grey-100));
        font-family: monospace;
        font-size: 0.875rem;
    }

    table {
        display: inline-block;
        max-width: 100%;
        font-size: .875rem;
        text-align: left;
        overflow: scroll;

        thead {
            font-weight: bold;
        }

        tr {
            border-bottom: 1px solid rgb(var(--grey-200));
            line-height: 160%;
        }

        td {
            padding: 0.75rem 0;

            &:not(:first-child) {
                padding-left: 1rem;
            }
        }

        th {
            padding-bottom: .75rem;

            &:not(:first-child) {
                padding-left: 1rem;
            }
        }
    }
}

.wysiwyg__code {
    position: relative;
}

.wysiwyg__copy {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: grid;
    gap: .5rem;
    height: 1.75rem;
    padding: .25rem;
    overflow: hidden;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: .375rem;

    &:hover {
        background: #474E6B;
    }

    &:before,
    &:after {
        content: "";
        display: block;
        padding: .625rem;
        opacity: .5;
        filter: invert(92%) sepia(77%) saturate(179%) hue-rotate(329deg) brightness(122%) contrast(96%);
        transition: 100ms transform ease-out, 150ms opacity ease-out;
    }

    &:before {
        background: url('/resources/icons/copy.svg') no-repeat ;
    }

    &:after {
        background: url('/resources/icons/checkmark.svg') no-repeat;
    }

    &:hover {
        &:before,
        &:after {
            opacity: 1;
        }
    }
}

.wysiwyg__copy--copied {
    &:after,
    &:before {
        transform: translate3d(0, -1.75rem, 0);
    }
}

@media screen and (min-width: 50rem) {
    .wysiwyg {
        margin: 0 auto;
    }
}
