@use "../utils" as *;

.auth {
    max-width: 80ch;
    padding: .5rem .5rem 5rem;
    font-family: var(--font-mono);
    font-size: .8125rem;
    line-height: 130%;
    text-wrap: pretty;

    &__form {
        max-width: 80ch;
        margin-top: rem(32);
    }

    &__field {
        display: flex;
        flex-direction: column;

        &--checkbox {
            flex-direction: row;
            align-items: center;
        }

        + .auth__field {
            margin-top: rem(24);
        }
    }

    &__error {
        color: red;
    }

    &__label {
        padding-bottom: rem(4);

        &--checkbox {
            padding-left: rem(24);
            padding-bottom: 0;
        }
    }

    &__input {
        box-sizing: border-box;
        padding: rem(9.8461538464) rem(14.7692307696);
        font-size: rem(16);
        border: rem(1.2307692308) solid hsl(0 0 66);
        border-radius: 0;
        font-family: var(--font-mono);
        transform: scale(0.8125);
        transform-origin: top left;
        width: 123.07692308%;

        &--checkbox {
            position: absolute;
            order: -1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(16);
            height: rem(16);
            padding: 0;
            -webkit-appearance: none;
            appearance: none;
            border: 1px solid rgba(0, 0, 0, .6);
            transform: none;

            &:checked {
                &:before {
                    content: "✔︎";
                    position: absolute;
                    font-size: rem(14);
                }
            }
        }
    }

    &__submit {
        padding: rem(8) rem(12);
        margin-top: rem(32);
        font-size: rem(13);
        font-family: var(--font-mono);
        background: hsl(0 0 94);
        border: none;
        border-radius: 0;
        color: black;

        &:hover {
            background: hsl(0 0 90);
            cursor: pointer;
        }
    }
}
