@use "../utils" as *;

.button {
    display: flex;
    align-items: center;
    gap: rem(4);
    padding: rem(6) rem(12);
    font-size: rem(16);
    font-family: var(--font-sans);
    line-height: 150%;
    color: rgb(var(--white));
    background: rgb(var(--primary));
    border: none;
    border-radius: rem(8);
    cursor: pointer;
    transition: background 150ms ease-out, transform 150ms ease-out;

    &:hover:not(:disabled) {
        background: rgb(var(--primary-dark));
    }

    &:active:not(:disabled),
    &:focus-visible {
        background: rgb(var(--primary-dark));
        transform: scale(.95);
    }

    &:disabled {
        opacity: 50%;
        cursor: not-allowed;
    }

    .icon {
        color: rgb(var(--grey-33));
        width: rem(14);
    }

    &--secondary {
        color: rgb(var(--grey-25));
        background: rgb(var(--grey-94));

        &:hover:not(:disabled) {
            background: rgb(var(--grey-90));
        }

        &:active:not(:disabled),
        &:focus-visible {
            background: rgb(var(--grey-90));
        }
    }

    &--icon {
        padding: rem(8);

        .button {
            &__label {
                @include sro;
            }
        }

        .icon {
            width: rem(16);
        }
    }
}
