@use "../utils" as *;

.nav {
    display: flex;
    justify-content: space-between;
    padding: rem(12);
    background: rgb(var(--white));
    box-shadow: 0 rem(1) 0 0 rgb(var(--grey-92));

    &__avatar {
        width: rem(32);
        height: rem(32);
        border-radius: rem(999);
    }
}
