@use "../../../../common/resources/css/utils" as *;

.notes {
    padding: rem(8) rem(8) rem(80);

    &__content {
        margin-top: rem(40);
    }

    &__text,
    &__link {
        max-width: 65ch;
        font-family: var(--font-sans);
        line-height: 150%;
        text-wrap: pretty;
    }

    &__list {
        margin-top: rem(40);
    }

    &__link {
        color: rgb(var(--blue));

        @include outline;
    }
}
