@use '../utils' as *;

.header {
    display: flex;
    flex-direction: column;
    text-align: center; 

    &__canvas {
        margin: 0 auto;
        order: -1;
        image-rendering: pixelated;
    }

    &--home .header {
        &__title {
            margin: rem(40) 0;
        }
    }
}
