@use '../utils' as *;

.picture {
    position: relative;

    &__fig {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(8);
        height: 100%;
        padding: 0 rem(10);
    }

    &__img {
        object-fit: contain;
        height: 100%;
    }
    
    &__caption {
        font-size: rem(12);
        line-height: 100%;
    }

    &__link {
        &:focus {
            outline: none;
            outline-offset: none;

            &:after {
                outline: rem(1) solid rgb(var(--fg), .5);
                outline-offset: rem(2);
                background: rgb(var(--fg), .1);
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
