@use '../utils' as *;

.prose {
    p {
        margin: rem(16) 0;
    }

    a {
        color: rgb(var(--fg));

        &:hover {
            text-decoration: wavy underline;
            opacity: 50%;
        }
    }

    ul, ol {
        margin: rem(16) 0;
        list-style-type: circle;
    }

    hr {
        border: none;
        margin: rem(24) auto;
        width: max-content;

        &:before {
            content: "***";
            font-size: rem(10);
            color: rgb(var(--fg));
            opacity: 50%;
        }
    }

    pre, blockquote {
        width: rem(480);
        padding: rem(16);
        margin: 0 rem(-30);
        background: rgb(var(--fg), .05);
    }

    pre {
        overflow-x: scroll;
    }

    code {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        font-size: rem(12);
    }

    blockquote {
        font-style: italic;
    }
}
