@use '../utils' as *;

.prose {
    p {
        margin: rem(16) 0;
    }

    a {
        color: var(--fg);

        &:hover {
            text-decoration: wavy underline;
            opacity: 50%;
        }
    }

    ul,li {
        margin: rem(16) 0;
        list-style-type: circle;
    }

    hr {
        border: none;
        margin: rem(24) auto;
        width: max-content;

        &:before {
            content: "***";
            font-size: rem(10);
            color: var(--fg);
            opacity: 50%;
        }
    }
}
