:root {
    ::selection {
        color: rgb(var(--white));
        background: rgb(var(--blue));
    }
}

body {
    opacity: 1;
    transition: opacity 0.15s ease-out;

    &.js-loading {
        opacity: 0;
        transition: none;
    }
}
