:root {
    // COLORS
    --black: 0, 0, 0;
    --grey-25: 64, 64, 64;
    --grey-33: 84, 84, 84;
    --grey-90: 230, 230, 230;
    --grey-94: 240, 240, 240;
    --grey-96: 245, 245, 245;
    --white: 255, 255, 255;

    --blue: 0, 43, 255;

    // FONTS
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
