@use "utils" as *;

@keyframes day-progress-back {
    0% {
        background-color: #1d2030;
    }
    12% {
        background-color: #434a70;
    }
    25% {
        background-color: #ece4df;
    }
    50% {
        background-color: #f3f1ec;
    }
    75% {
        background-color: #cfbcb0;
    }
    100% {
        background-color: #1d2030;
    }
}

@keyframes window-color-shadow {
    0% {
        background-color: #2e3247;
        box-shadow: 0 0 rem(20) rem(20) inset #1d2030;
    }
    12% {
        background-color: #575e85;
        box-shadow: 0 0 rem(20) rem(20) inset #434a70;
    }
    25% {
        background-color: #fbf1ea;
        box-shadow: 0 0 rem(20) rem(20) inset #ece4df;
    }
    50% {
        background-color: #fdfbf7;
        box-shadow: 0 0 rem(20) rem(20) inset #f3f1ec;
    }
    75% {
        background-color: #f6e2d5;
        box-shadow: 0 0 rem(20) rem(20) inset #cfbcb0;
    }
    100% {
        background-color: #2e3247;
        box-shadow: 0 0 rem(20) rem(20) inset #1d2030;
    }
}

@keyframes leaf-sway {
    from {
        transform: rotate(var(--r)) translateX(0);
    }
    to {
        transform: rotate(var(--r)) translateX(var(--sway-distance));
    }
}

@keyframes day-progress-front {
    0% {
        color: #a9acc8;
    }
    4% {
        color: #babed6;
    }
    8% {
        color: #d1d4e4;
    }
    12% {
        color: #fafafc;
    }
    17% {
        color: #1f2026;
    }
    21% {
        color: #2e2c32;
    }
    25% {
        color: #5e4539;
    }
    29% {
        color: #5b4637;
    }
    33% {
        color: #584535;
    }
    37% {
        color: #5a4836;
    }
    42% {
        color: #594a36;
    }
    46% {
        color: #5a4d38;
    }
    50% {
        color: #595038;
    }
    54% {
        color: #574834;
    }
    58% {
        color: #554433;
    }
    62% {
        color: #4d3c2e;
    }
    67% {
        color: #4a392c;
    }
    71% {
        color: #43352a;
    }
    75% {
        color: #3a2d24;
    }
    79% {
        color: #1a1615;
    }
    83% {
        color: #211e1d;
    }
    87% {
        color: #f2f1f2;
    }
    92% {
        color: #f4f3f4;
    }
    96% {
        color: #d2d1d8;
    }
    100% {
        color: #a9acc8;
    }
}
