:root {
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    scrollbar-gutter: stable; /* reserve the scrollbar's space always */

    &:has(:modal) {
        overflow: hidden;
    }

    ::selection {
        background: blue;
        color: white;
    }
}
