@use "utils" as *;

html {
    animation: day-progress-back 86400s linear infinite;
    animation-delay: var(--offset);
    background-image: url("../images/noise.png");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: 15%;

    &:after {
        content: "";
        position: fixed;
        inset: 0;
        background: url("../images/noise.webp");
        background-size: 15%;
        opacity: 0.06;
        mix-blend-mode: multiply;
        z-index: 20;
        pointer-events: none;
    }
}

body {
    max-width: rem(390);
    margin: rem(80) auto;
    padding: 0 rem(24);
    font-family: var(--font-sans);
    font-size: rem(14);
}

body,
a,
button,
input,
select,
textarea {
    animation: day-progress-front 86400s steps(1, end) infinite;
    animation-delay: var(--offset);
}

a {
    &:focus-visible {
        outline: 2px solid color-mix(in hsl, currentColor 20%, currentColor 20%);
        outline-offset: 4px;
        border-radius: 2px;
    }
}
