$neutral-100: #f5f5f5;
$neutral-300: #D4D4D4;
$neutral-400: #A1A1A1;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;

$orange-100: #FFEDD4;
$orange-600: #F54900;
