:root {
    // FONTS
    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    // COLORS
    --black: 0, 0, 0;
    --grey-24: 61, 61, 61;
    --grey-32: 82, 82, 82;
    --grey-50: 128, 128, 128;
    --grey-90: 230, 230, 230;
    --grey-92: 235, 235, 235;
    --grey-94: 240, 240, 240;
    --grey-96: 245, 245, 245;
    --grey-98: 250, 250, 250;
    --white: 255, 255, 255;
}
