@import "tailwindcss";

@theme {
    --font-picnic: "PicNic", var(--font-serif);
}

@font-face {
    font-family: "PicNic";
    src:
        url("../fonts/PicNic-Regular.woff2") format("woff2"),
        url("../fonts/PicNic-Regular.woff") format("woff"),
        url("../fonts/PicNic-Regular.ttf") format("truetype");
}
