/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* UTILS */

.sro {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* NAV */

nav {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-bottom: 2.5rem;
}

header {
    display: flex;
    flex-direction: column-reverse;
}

/* Txt syles */

body {
    max-width: 65ch;
    padding: .5rem .5rem 5rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: .875rem;
    line-height: 150%;
}

body > :first-child {
    margin-top: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    text-transform: uppercase;
}

/* Paragraphs */
p {
    margin-top: 1rem;
}

a {
    text-underline-offset: 2px;
}

/* Blockquotes */
blockquote {
    margin: 1rem 0 0 2ch;
    position: relative;
}

blockquote:before {
    content: '>';
    position: absolute;
    left: -2ch;
}

/* Lists */
ul, ol {
    margin-top: 1rem;
}

li {
    position: relative;
    margin-left: 2ch;
    margin-top: 8px;
}

li:before {
    position: absolute;
}

ul li::before {
    content: "- ";
    left: -2ch;
}

ol {
    counter-reset: count;
}

ol li {
    counter-increment: count;
}

ol li::before {
    content: counter(count) ". ";
    left: -2.5ch;
}

/* Images */
img {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

/* Code blocks */
pre {
    margin-left: 2ch;
}

pre:before,
pre:after {
    content: "```";
    display: block;
}

pre code:before,
pre code:after {
    content: unset;
}

/* Inline code */
code:before,
code:after {
    content: "`";
}

/* Horizontal rule */
hr {
    border: none;
}

hr:before {
    content: "---";
}

/* Inline formatting */
em {
    font-style: italic;
}

strong {
    font-weight: bold;
}
