:root {
    --grey-50: 250, 250, 249;
    --grey-100: 244, 244, 243;
    --grey-200: 234, 233, 232;
    --grey-300: 222, 220, 218;
    --grey-400: 207, 204, 201;
    --grey-500: 187, 182, 178;
    --grey-600: 160, 154, 148;
    --grey-700: 128, 121, 114;
    --grey-800: 93, 87, 82;
    --grey-900: 63, 59, 56;
    --grey-950: 38, 35, 33;
}
