@use "../utils" as *;

.links {
    padding: .5rem .5rem 5rem;
    font-family: var(--font-mono);
    font-size: .8125rem;
    line-height: 130%;
    text-wrap: pretty;

    &__table {
        margin-top: rem(16);
    }

    &__link {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: rem(16) 0;

        &:hover {
            background: hsl(0 0 96);

            .links__actions {
                display: flex;
            }
        }
    }

    &__favicon {
        width: rem(16);
        height: rem(16);
        margin-right: rem(8);
    }

    &__url {
        flex-shrink: 0;
        width: rem(320);
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        margin-right: rem(40);

        &:before {
            content: "";
            position: absolute;
            inset: 0;
        }
    }

    &__description {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    &__actions {
        position: absolute;
        right: rem(8);
        display: none;
        align-items: center;
        gap: rem(8);
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(8);
        background: white;
        color: rgba(0, 0, 0, .6);
        border: none;
        border-radius: 0;
        cursor: pointer;

        &--danger {
            color: red;
        }

        .icon {
            width: rem(16);
            height: rem(16);
        }
    }

    &__form {
        max-width: 80ch;
        margin-top: rem(32);
    }

    &__field {
        display: flex;
        flex-direction: column;

        + .links__field {
            margin-top: rem(24);
        }
    }

    &__error {
        color: red;
    }

    &__label {
        padding-bottom: rem(4);
    }

    &__input {
        box-sizing: border-box;
        padding: rem(9.8461538464) rem(14.7692307696);
        font-size: rem(16);
        border: rem(1.2307692308) solid hsl(0 0 66);
        border-radius: 0;
        font-family: var(--font-mono);
        transform: scale(0.8125);
        transform-origin: top left;
        width: 123.07692308%;
    }

    &__submit {
        padding: rem(8) rem(12);
        margin-top: rem(32);
        font-size: rem(13);
        font-family: var(--font-mono);
        background: hsl(0 0 94);
        border: none;
        border-radius: 0;
        color: black;

        &:hover {
            background: hsl(0 0 90);
            cursor: pointer;
        }
    }

    @media screen and (max-width: rem(800)) {
        &__link {
            flex-wrap: wrap;
            gap: rem(8);
        }

        &__favicon {
            margin: 0;
        }

        &__url {
            width: 100%;
            margin: 0;
            overflow: visible;
            text-wrap: wrap;
            text-wrap: pretty;
        }

        &__description {
            overflow: visible;
            text-wrap: unset;
            text-wrap: pretty;
        }

        &__actions {
            top: rem(8);
        }
    }
}
