@use "../utils" as *;

.home {
    max-width: rem(452);
    margin: 0 auto;
    padding: 0 rem(16);

    &__content {
        margin: rem(120) 0 rem(40);
    }

    &__text {
        max-width: rem(390);
        margin: rem(16) auto 0;
        color: rgb(var(--grey-25));
        font-family: var(--font-sans);
        line-height: 150%;

        &:first-child {
            margin-top: 0;
        }
    }

    &__link {
        display: inline-flex;
        color: rgb(var(--grey-25));
        border-radius: rem(6);
        transition: 200ms color ease-out, 150ms transform ease-out;

        &:hover,
        &:focus-visible {
            color: rgb(var(--blue));
        }

        &:active {
            transform: scale(.95);
        }
    }

    &__img {
        width: 100%;
        margin: rem(40) 0;
    }
}
