@use "../utils" as *;

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);

    &__item {
        font-family: var(--font-sans);
        color: rgb(var(--blue));

        @include outline;

        &--active {
            color: rgb(var(--black));
        }
    }
}
