@use "../utils" as *;

.tooltip {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: rem(4);
    padding: rem(12);
    border-radius: rem(24);
    background: rgba(var(--grey-96), .9);
    box-shadow:
        0 0 0 rem(1) rgb(var(--grey-90)),
        0 rem(8) rem(16) rem(-4) rgb(var(--black), .15),
        inset 0 rem(4) rem(8) 0 rgba(var(--white), .75);
    backdrop-filter: blur(rem(20));

    &__backdrop {
        background-color: white;
        border-radius: rem(9999);
    }

    &__item {
        display: flex;
        align-items: center;
        gap: rem(6);
        padding: rem(8) rem(12);
        font-family: var(--font-sans);
        color: rgb(var(--grey-25));
        text-decoration: none;
        border-radius: rem(9999);
        transition: 150ms background ease-out, 150ms transform ease-out;

        &--active {
            cursor: not-allowed;
            opacity: 75%;
        }

        &:not(.tooltip__item--active) {
            &:active {
                transform: scale(.975);
            }
        }

        .icon {
            color: rgb(var(--grey-33));
        }
    }
}
